/* Window */

.VnX-Window {
    width: 40%;
    height: 20%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    background: rgba(0,0,0,0.6);
    border-top: solid 0.12vw rgba(0,150,200,0.6);
    border-top-left-radius: 0.3vw;
    border-top-right-radius: 0.3vw;
}

/* Header */

.VnX-Header {
    background: rgba(0,0,0,0.6);
    font-size: 1.3vw;
}

/* Todes Nachricht */

.death_text1 {
    position: absolute;
    color: white;
    font-family: arial;
    text-align: center;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 1vw;
}

/* Ladebalken */

.loading { 
    position: absolute;
    background: rgba(0,0,0,0.6);
    border-radius: 0.5vw;
    padding: 0.2vw;
    width: 90%;
    bottom: 10%;
    height: 15%;
    left: 50%;
    transform: translate(-50%);
}
.loading > span {
    display: block;
    height: 100%;
    border-radius: 0.3vw;
    background-image: 
        -webkit-gradient(
            linear,
            left bottom,
            left top,
                color-stop(0, rgb(0,105,150)),
                color-stop(1, rgb(0,200,255))
    );
    position: relative;
    overflow: hidden;
}

/* Ladebalken Striche */

.loading > span:after, .animate > span > span {
    overflow: hidden;
    content: "";
    position: absolute;
    top: 0vw; 
    left: 0vw; 
    bottom: 0vw; 
    right: 0vw;
    background-image: 
        -webkit-gradient(linear, 0 0, 100% 100%, 
            color-stop(.25, rgba(255, 255, 255, .2)), 
            color-stop(.25, transparent), color-stop(.5, transparent), 
            color-stop(.5, rgba(255, 255, 255, .2)), 
            color-stop(.75, rgba(255, 255, 255, .2)), 
            color-stop(.75, transparent), to(transparent)
        );
    z-index: 1;
    -webkit-background-size: 1.25vw 1.25vw;
    -moz-background-size: 1.25vw 1.25vw;
    -webkit-animation: move 2s linear infinite;
}

@-webkit-keyframes move {
    0% {
        background-position: 0vw 0vw;
    }
    100% {
        background-position: 3.75vw 3.75vw;
    }
}