/*//----------------------------------//
///// VenoX Gaming & Fun 2020 © ///////
//////By LargePeach & VnX RL Crew////
////////www.venox-reallife.com////////
//----------------------------------//*/

body {
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    color: white;
}

/* Window */

#back {
    top: 50%;
    height: 60%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
}

/* Header */

#header {
    height: 8%;
    font-size: 1.5vw;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
}

/* Window Innenbereich */

.area {
    position: absolute;
    width: 100%;
    height: 92%;
    top: 8%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Waffen Column */

.column {
    position: relative;
    background: rgba(0,0,0,0.4);
    border-radius: 0.5vw;
    float: left;
    width: 30%;
    height: 30%;
    margin-top: 1.5%;
    margin-bottom: 0.5%;
    margin-right: 1%;
    margin-left: 2%;
    overflow: hidden; 
}

/* Waffen Images */

.columnimage {
    position: absolute;
    max-height: 50%;
    max-width: 80%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.2);
    padding: 0.6vw;
    border-radius: 0.5vw;
}

/* Waffen Buttons */

.columnbutton {
    position: absolute;
    background: rgba(255,255,255,0.2);
    bottom: 7.5%;
    left: 50%;
    height: 15%;
    width: 90%;
    transform: translate(-50%);
    font-family: arial;
    border-radius: 0.5vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.columnbutton:hover {
    background: rgba(0,150,200,0.8);
}

/* Magazin Window */

.magazine_window {
    position: absolute;
    background: rgba(0,0,0,0.8);
    left: 70%;
    width: 10%;
    top: 37.5%;
    height: 25%;
    border-left: 0.1vw solid rgba(0,0,0,0.8);
}

/* Magazin Header */

#magazine_header {
    position: relative;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Magazin Text */

.columnmagazine {
    position: relative;
    font-family: arial;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    max-height: 90%;
    overflow: hidden;
}

/* Close Button */

#close {
    font-family: arial;
    color: rgba(255,255,255,0.6);
    top: 1.5%;
    right: 2%;
}
#close:hover {
    font-weight: bold;
    color: rgba(255,0,0,0.6);
}
