@font-face { font-family: 'drugs';
             src: url('./font/Caviar-Dreams.ttf') format('truetype'); }
@font-face { font-family: 'robot';
             src: url('./font/Roboto-Thin.ttf') format('truetype'); }
 
.all {
    -ms-user-select: None; 
    -moz-user-select: None; 
    -webkit-user-select: None; 
}



section {
  display: none;
}
input {
  display: none;
}
#perso_btn:checked ~ #perso,
#car_btn:checked ~ #car,
#lkw_btn:checked ~ #lkw,
#bike_btn:checked ~ #bike,
#plane_a_btn:checked ~ #plane_a,
#plane_b_btn:checked ~ #plane_b,
#helicopter_btn:checked ~ #helicopter,
#boat_btn:checked ~ #boat,
#fisher_btn:checked ~ #fisher,
#weapon_btn:checked ~ #weapon,
#perso_btn:checked ~ #buy,
#car_btn:checked ~ #buy,
#lkw_btn:checked ~ #buy,
#bike_btn:checked ~ #buy,
#plane_a_btn:checked ~ #buy,
#plane_b_btn:checked ~ #buy,
#helicopter_btn:checked ~ #buy,
#boat_btn:checked ~ #buy,
#fisher_btn:checked ~ #buy,
#weapon_btn:checked ~ #buy{
  display: block;
}



/* Hintergrund */

.back {
    position: absolute;
    background: rgba(15, 15, 15, 0.4);
    width: 35vw;
    height: 30vw;
    left: 50%;
    top: 11.8vw;
    transform: translate(-50%);
}

/* Überschrift */

.header {
    position: absolute;
    background: rgba(15, 15, 15, 0.4);
    color: white;
    text-align: center;
    font-family: drugs;
    font-weight: bold;
    width: 35vw;
    font-size: 1.4vw;
    padding: 0.3vw 0vw;
    width: 35vw;
    left: 50%;
    top: 12vw;
    transform: translate(-50%);
}

/* Blauer strich */

.blue_header {
    position: absolute;
    background: rgba(0, 150, 200, 0.6);
    width: 35vw;
    top: 11.8vw;
    height: 0.2vw;
    left: 50%;
    transform: translate(-50%);
}

/* Trennlinie mitte */

.parting_line_middle {
    position: absolute;
    background: rgba(15, 15, 15, 0.4);
    width: 0.2vw;
    top: 14.25vw;
    height: 24.1vw;
    left: 50%;
    transform: translate(-50%);
}

/* Trennlinie unten */

.parting_line_down {
    position: absolute;
    background: rgba(15, 15, 15, 0.4);
    width: 35vw;
    top: 38.35vw;
    height: 0.2vw;
    left: 50%;
    transform: translate(-50%);
}

/* Perso Button */

[id="PERSO_BTN"]:checked {
    display: none;
}
[id="PERSO_BTN"]:checked + label,
[id="PERSO_BTN"]:not(:checked) + label
{
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgba(15, 15, 15, 0.6);
    padding: 0.2vw 0vw;
    font-size: 1.2vw;
    top: 14.7vw;
    left: 41.2%;
    transform: translate(-50%);
    transition: all ease 0.2s;
    width: 17.4vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
[id="PERSO_BTN"]:hover + label,
[id="PERSO_BTN"]:active + label {
    background: rgb(0, 150, 200);
    outline: none;
}
[id="PERSO_BTN"]:checked + label:after,
[id="PERSO_BTN"]:active + label:after {
    content: '';
    width: 17.4vw;
    height: 1.4vw;
    padding: 0.2vw 0vw;
    background: rgba(0, 150, 200, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Perso Text */

.perso_text {
    position: absolute;
    font-family: robot;
    font-size: 1vw;
    left: 58.7%;
    transform: translate(-50%);
    top: 21vw;
    text-align: center;
    color: white;
}

/* Auto Button */

[id="CAR_BTN"]:checked {
    display: none;
}
[id="CAR_BTN"]:checked + label,
[id="CAR_BTN"]:not(:checked) + label
{
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgba(15, 15, 15, 0.6);
    padding: 0.2vw 0vw;
    font-size: 1.2vw;
    top: 17.05vw;
    left: 41.2%;
    transform: translate(-50%);
    transition: all ease 0.2s;
    width: 17.4vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
[id="CAR_BTN"]:hover + label,
[id="CAR_BTN"]:active + label {
    background: rgb(0, 150, 200);
    outline: none;
}
[id="CAR_BTN"]:checked + label:after,
[id="CAR_BTN"]:active + label:after {
    content: '';
    width: 17.4vw;
    height: 1.4vw;
    padding: 0.2vw 0vw;
    background: rgba(0, 150, 200, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Auto Text */

.car_text {
    position: absolute;
    font-family: robot;
    font-size: 1vw;
    left: 58.7%;
    transform: translate(-50%);
    top: 21vw;
    text-align: center;
    color: white;
}

/* LKW Button */

[id="LKW_BTN"]:checked {
    display: none;
}
[id="LKW_BTN"]:checked + label,
[id="LKW_BTN"]:not(:checked) + label
{
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgba(15, 15, 15, 0.6);
    padding: 0.2vw 0vw;
    font-size: 1.2vw;
    top: 19.4vw;
    left: 41.2%;
    transform: translate(-50%);
    transition: all ease 0.2s;
    width: 17.4vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
[id="LKW_BTN"]:hover + label,
[id="LKW_BTN"]:active + label {
    background: rgb(0, 150, 200);
    outline: none;
}
[id="LKW_BTN"]:checked + label:after,
[id="LKW_BTN"]:active + label:after {
    content: '';
    width: 17.4vw;
    height: 1.4vw;
    padding: 0.2vw 0vw;
    background: rgba(0, 150, 200, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* LKW Text */

.lkw_text {
    position: absolute;
    font-family: robot;
    font-size: 1vw;
    left: 58.7%;
    transform: translate(-50%);
    top: 21vw;
    text-align: center;
    color: white;
}

/* Motorrad Button */

[id="BIKE_BTN"]:checked {
    display: none;
}
[id="BIKE_BTN"]:checked + label,
[id="BIKE_BTN"]:not(:checked) + label
{
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgba(15, 15, 15, 0.6);
    padding: 0.2vw 0vw;
    font-size: 1.2vw;
    top: 21.75vw;
    left: 41.2%;
    transform: translate(-50%);
    transition: all ease 0.2s;
    width: 17.4vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
[id="BIKE_BTN"]:hover + label,
[id="BIKE_BTN"]:active + label {
    background: rgb(0, 150, 200);
    outline: none;
}
[id="BIKE_BTN"]:checked + label:after,
[id="BIKE_BTN"]:active + label:after {
    content: '';
    width: 17.4vw;
    height: 1.4vw;
    padding: 0.2vw 0vw;
    background: rgba(0, 150, 200, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Motorrad Text */

.bike_text {
    position: absolute;
    font-family: robot;
    font-size: 1vw;
    left: 58.7%;
    transform: translate(-50%);
    top: 21vw;
    text-align: center;
    color: white;
}

/* Flugzeug A Button */

[id="PLANE_A_BTN"]:checked {
    display: none;
}
[id="PLANE_A_BTN"]:checked + label,
[id="PLANE_A_BTN"]:not(:checked) + label
{
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgba(15, 15, 15, 0.6);
    padding: 0.2vw 0vw;
    font-size: 1.2vw;
    top: 24.1vw;
    left: 41.2%;
    transform: translate(-50%);
    transition: all ease 0.2s;
    width: 17.4vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
[id="PLANE_A_BTN"]:hover + label,
[id="PLANE_A_BTN"]:active + label {
    background: rgb(0, 150, 200);
    outline: none;
}
[id="PLANE_A_BTN"]:checked + label:after,
[id="PLANE_A_BTN"]:active + label:after {
    content: '';
    width: 17.4vw;
    height: 1.4vw;
    padding: 0.2vw 0vw;
    background: rgba(0, 150, 200, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Flugzeug A Text */

.plane_a_text {
    position: absolute;
    font-family: robot;
    font-size: 1vw;
    left: 58.7%;
    transform: translate(-50%);
    top: 21vw;
    text-align: center;
    color: white;
}

/* Flugzeug B Button */

[id="PLANE_B_BTN"]:checked {
    display: none;
}
[id="PLANE_B_BTN"]:checked + label,
[id="PLANE_B_BTN"]:not(:checked) + label
{
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgba(15, 15, 15, 0.6);
    padding: 0.2vw 0vw;
    font-size: 1.2vw;
    top: 26.45vw;
    left: 41.2%;
    transform: translate(-50%);
    transition: all ease 0.2s;
    width: 17.4vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
[id="PLANE_B_BTN"]:hover + label,
[id="PLANE_B_BTN"]:active + label {
    background: rgb(0, 150, 200);
    outline: none;
}
[id="PLANE_B_BTN"]:checked + label:after,
[id="PLANE_B_BTN"]:active + label:after {
    content: '';
    width: 17.4vw;
    height: 1.4vw;
    padding: 0.2vw 0vw;
    background: rgba(0, 150, 200, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Flugzeug B Text */

.plane_b_text {
    position: absolute;
    font-family: robot;
    font-size: 1vw;
    left: 58.7%;
    transform: translate(-50%);
    top: 21vw;
    text-align: center;
    color: white;
}

/* Helikopter Button */

[id="HELICOPTER_BTN"]:checked {
    display: none;
}
[id="HELICOPTER_BTN"]:checked + label,
[id="HELICOPTER_BTN"]:not(:checked) + label
{
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgba(15, 15, 15, 0.6);
    padding: 0.2vw 0vw;
    font-size: 1.2vw;
    top: 28.8vw;
    left: 41.2%;
    transform: translate(-50%);
    transition: all ease 0.2s;
    width: 17.4vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
[id="HELICOPTER_BTN"]:hover + label,
[id="HELICOPTER_BTN"]:active + label {
    background: rgb(0, 150, 200);
    outline: none;
}
[id="HELICOPTER_BTN"]:checked + label:after,
[id="HELICOPTER_BTN"]:active + label:after {
    content: '';
    width: 17.4vw;
    height: 1.4vw;
    padding: 0.2vw 0vw;
    background: rgba(0, 150, 200, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Helikopter Text */

.helicopter_text {
    position: absolute;
    font-family: robot;
    font-size: 1vw;
    left: 58.7%;
    transform: translate(-50%);
    top: 21vw;
    text-align: center;
    color: white;
}

/* Boot Button */

[id="BOAT_BTN"]:checked {
    display: none;
}
[id="BOAT_BTN"]:checked + label,
[id="BOAT_BTN"]:not(:checked) + label
{
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgba(15, 15, 15, 0.6);
    padding: 0.2vw 0vw;
    font-size: 1.2vw;
    top: 31.15vw;
    left: 41.2%;
    transform: translate(-50%);
    transition: all ease 0.2s;
    width: 17.4vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
[id="BOAT_BTN"]:hover + label,
[id="BOAT_BTN"]:active + label {
    background: rgb(0, 150, 200);
    outline: none;
}
[id="BOAT_BTN"]:checked + label:after,
[id="BOAT_BTN"]:active + label:after {
    content: '';
    width: 17.4vw;
    height: 1.4vw;
    padding: 0.2vw 0vw;
    background: rgba(0, 150, 200, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Boot Text */

.boat_text {
    position: absolute;
    font-family: robot;
    font-size: 1vw;
    left: 58.7%;
    transform: translate(-50%);
    top: 21vw;
    text-align: center;
    color: white;
}

/* Angelschein Button */

[id="FISHER_BTN"]:checked {
    display: none;
}
[id="FISHER_BTN"]:checked + label,
[id="FISHER_BTN"]:not(:checked) + label
{
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgba(15, 15, 15, 0.6);
    padding: 0.2vw 0vw;
    font-size: 1.2vw;
    top: 33.5vw;
    left: 41.2%;
    transform: translate(-50%);
    transition: all ease 0.2s;
    width: 17.4vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
[id="FISHER_BTN"]:hover + label,
[id="FISHER_BTN"]:active + label {
    background: rgb(0, 150, 200);
    outline: none;
}
[id="FISHER_BTN"]:checked + label:after,
[id="FISHER_BTN"]:active + label:after {
    content: '';
    width: 17.4vw;
    height: 1.4vw;
    padding: 0.2vw 0vw;
    background: rgba(0, 150, 200, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Angelschein Text */

.fisher_text {
    position: absolute;
    font-family: robot;
    font-size: 1vw;
    left: 58.7%;
    transform: translate(-50%);
    top: 21vw;
    text-align: center;
    color: white;
}

/* Waffenschein Button */

[id="WEAPON_BTN"]:checked {
    display: none;
}
[id="WEAPON_BTN"]:checked + label,
[id="WEAPON_BTN"]:not(:checked) + label
{
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgba(15, 15, 15, 0.6);
    padding: 0.2vw 0vw;
    font-size: 1.2vw;
    top: 35.85vw;
    left: 41.2%;
    transform: translate(-50%);
    transition: all ease 0.2s;
    width: 17.4vw;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
[id="WEAPON_BTN"]:hover + label,
[id="WEAPON_BTN"]:active + label {
    background: rgb(0, 150, 200);
    outline: none;
}
[id="WEAPON_BTN"]:checked + label:after,
[id="WEAPON_BTN"]:active + label:after {
    content: '';
    width: 17.4vw;
    height: 1.4vw;
    padding: 0.2vw 0vw;
    background: rgba(0, 150, 200, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Waffenschein Text */

.weapon_text {
    position: absolute;
    font-family: robot;
    font-size: 1vw;
    left: 58.7%;
    transform: translate(-50%);
    top: 21vw;
    text-align: center;
    color: white;
}

/* Kaufen Button */

.BUY_BTN {
	position: absolute;
	width: 35vw;
    padding: 0.79vw 0vw;
	background: rgba(15, 15, 15, 0.4);
	color: rgba(255, 255, 255, 0.9);
	cursor: pointer;
	transition: all ease 0.2s;
    top: 38.4vw;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.4vw;
    font-family: robot;
    text-align: center;
    border-top: 0.2vw solid rgba(0, 150, 200, 0.8);
}
.BUY_BTN:hover, .BUY_BTN:active {
    position: absolute;
	background: rgba(0, 150, 200, 0.8);
    border-top: 0.2vw outset rgba(15, 15, 15, 0.4);
	color: white;
}

/* Close Button */

.close {
	position: absolute;
    height: auto;
	color: darkgray;
	cursor: pointer;
	transition: all ease 0s;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.3vw;
    top: 12.4vw;
    left: 66.6%;
    transform: translate(-50%);
}
.close:hover, .close:active {
    position: absolute;
	outline: none;
	color: darkred;
    font-weight: bold;
}

/*------------------------------------------------------*/
