/*//----------------------------------//
///// VenoX Gaming & Fun 2020 © ///////
//////By LargePeach & VnX RL Crew////
////////www.venox-reallife.com////////
//----------------------------------//*/

body {
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    color: white;
}

img { 
    position: absolute; 
    transform: translate(-50%, -50%); 
    background: rgba(255,255,255,0.2); 
    border-radius: 0.5vw;
    padding: 0.5vw;
}

/* Window */

#back {
    top: 50%;
    height: 60%;
    left: 50%;
    width: 40%;
    border-radius: 0.5vw;
    transform: translate(-50%, -50%);
}

/* Header */

#header {
    height: 8%;
    font-size: 1.5vw;
    padding: 0;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Window Innenbereich */

.area {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 9%;
}

/* Buttons */

#btn_armor, #btn_knife, #btn_parachute, #btn_pistol, #btn_pistol_amo, #btn_pistol50, #btn_pistol50_amo, #btn_revolver, #btn_revolver_amo, #btn_shotgun, #btn_shotgun_amo, #btn_pdw, #btn_pdw_amo, #btn_rifle, #btn_rifle_amo {
    cursor: pointer;
    padding: 0;
    font-size: 1vw;
    border-radius: 0.5vw;
    border-width: 0.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

/* Armor */

#pic_armor { left: 17.5%; top: 11%; width: 8%; height: 14%; }
#btn_armor { left: 17.5%; top: 25%; width: 27.5%; height: 7%; }

/* Knife */

#pic_knife { left: 50%; top: 11%; width: 20%; height: 6%; }
#btn_knife { left: 50%; top: 25%; width: 27.5%; height: 7%; }

/* Parachute */

#pic_parachute { left: 82.5%; top: 11%; width: 10%; height: 14%; }
#btn_parachute { left: 82.5%; top: 25%; width: 27.5%; height: 7%; }

/* Pistol */

#pic_pistol { left: 17.5%; top: 39%; width: 14%; height: 8%; }
#btn_pistol { left: 17.5%; top: 50%; width: 27.5%; height: 7%; }
#btn_pistol_amo { left: 17.5%; top: 58.5%; width: 27.5%; height: 7%; }

/* Pisol.50 */

#pic_pistol50 { left: 50%; top: 39%; width: 14%; height: 8%; }
#btn_pistol50 { left: 50%; top: 50%; width: 27.5%; height: 7%; }
#btn_pistol50_amo { left: 50%; top: 58.5%; width: 27.5%; height: 7%; }

/* Revolver */

#pic_revolver { left: 82.5%; top: 39%; width: 16%; height: 8%; }
#btn_revolver { left: 82.5%; top: 50%; width: 27.5%; height: 7%; }
#btn_revolver_amo { left: 82.5%; top: 58.5%; width: 27.5%; height: 7%; }

/* Shotgun */

#pic_shotgun { left: 17.5%; top: 73%; width: 20%; height: 6%; }
#btn_shotgun { left: 17.5%; top: 84%; width: 27.5%; height: 7%; }
#btn_shotgun_amo { left: 17.5%; top: 92.5%; width: 27.5%; height: 7%; }

/* PDW */

#pic_pdw { left: 50%; top: 73%; width: 20%; height: 8%; }
#btn_pdw { left: 50%; top: 84%; width: 27.5%; height: 7%; }
#btn_pdw_amo { left: 50%; top: 92.5%; width: 27.5%; height: 7%; }

/* Rifle */

#pic_rifle { left: 82.5%; top: 73%; width: 20%; height: 8%; }
#btn_rifle { left: 82.5%; top: 84%; width: 27.5%; height: 7%; }
#btn_rifle_amo { left: 82.5%; top: 92.5%; width: 27.5%; height: 7%; }

/* Close Button */

#close {
    font-family: arial;
    color: rgba(255,255,255,0.6);
    top: 2%;
    right: 2%;
}
#close:hover {
    font-weight: bold;
    color: rgba(255,0,0,0.6);
}
