@font-face {
    font-family: 'drugs';
    src: url('./files/font/Caviar-Dreams.ttf') format('truetype');
}

@font-face {
    font-family: 'robot';
    src: url('./files/font/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'quest_header';
    src: url('./files/font/quest_header.ttf') format('truetype');
}



body {
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
}

#blood_in_vnx {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0%;
    left: 0%;
    display: none;
    transform: translateZ(0);
}

@keyframes fadeout_blood {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}



/* Notification */

.Notification_Container {
    position: relative;
    left: 1.0vw;
    top: 29vh;
    width: 14.1vw;
    height: 50vh;
    background: rgba(100, 0, 0, 0.0);
    display: table-cell;
    vertical-align: bottom;
    overflow: hidden;
}


.Notification_Box {
    position: relative;
    left: -100%;
    width: 100%;
    height: 7.5%;
    background: rgba(0, 0, 0, 0.80);
    margin-top: 0.5vh;
}

.NotificationColorInfo {
    border-top: solid 0.2vw rgb(0, 200, 255);
}

.NotificationColorWarning {
    border-top: solid 0.2vw rgb(255, 200, 0);
}

.NotificationColorError {
    border-top: solid 0.2vw rgb(255, 0, 0);
}


.Notification_Text {
    padding: 0.6vw 0.0vh;
    height: 100%;
    width: 100%;
    font-size: 0.75vw;
    text-align: center;
    font-family: arial;
    color: white;
}


/* Quest */

.QuestMain {
    position: absolute;
    right: 1%;
    top: 15vw;
    background: rgba(0, 75, 100, 0.80);
    height: 9vw;
    width: 20vw;
}

.QuestMain_header {
    position: absolute;
    right: 1%;
    color: white;
    top: 15vw;
    font-family: quest_header;
    padding: 0.02vw;
    font-size: 1.2vw;
    height: 1.3vw;
    background: rgb(254, 254, 254);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(254, 254, 254, 0.40) 0%, rgba(0, 150, 200, 1) 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(254, 254, 254, 0) 0%, rgba(0, 150, 200, 1) 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(254, 254, 254, 0) 0%, rgba(0, 150, 200, 1) 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#0096ff', GradientType=1);
    /* IE6-9 */
    width: 16.5vw;
    text-align: center-right;
}

.QuestMain_container {
    position: absolute;
    right: 0.80%;
    color: rgba(225, 225, 225, 1);
    top: 17vw;
    font-family: robot;
    padding: 0.01vw 0.05vw;
    font-size: 0.9vw;
    text-align: center;
    width: 16.5vw;
}


.QuestMain_container_win {
    position: absolute;
    right: 1%;
    color: rgba(225, 225, 225, 1);
    top: 21vw;
    font-family: robot;
    padding: 0.01vw 0.05vw;
    font-size: 0.90vw;
    text-align: center;
    width: 16.5vw;
}

.QuestMain_image {
    position: absolute;
    right: 17%;
    top: 14vw;
    height: 10vw;
    width: 7vw;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.d-none {
    display: none;
}