/*----------------------------------//
///// VenoX Gaming & Fun 2019 © ///////
//////By LargePeach & VnX RL Crew////
////////www.venox-reallife.com////////
//----------------------------------*/

body {
    -ms-user-select: None; 
    -moz-user-select: None; 
    -webkit-user-select: None; 
}

/* Hintergrund */

#back {
	left: 50%;
    width: 30%;
    top: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5vw;
    opacity: 1;
    display: all;
}

/* Überschrift */

#header {
    height: 10%;
    padding: 0;
    font-size: 1.5vw;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Innenbereich */

.area {
    position: absolute;
    width: 100%;
    top: 10%;
    height: 90%;
}

/* Spieler Liste */

.player {
    position: fixed;
    background: rgba(125,125,125,0.4);
    color: white;
    width: 50%;
    left: 35%;
    height: 70%;
    top: 55%;
    border-radius: 0.5vw;
    transform: translate(-50%, -50%);
}

/* Trennlinie */

.parting_line {
    position: fixed;
    background: white;
    width: 0.1vw;
    height: 100%;
    left: 70%;
    z-index: 1;
}

/* Überschriften */

.name_h, .rang_h {
    position: fixed;
    background: rgba(0,0,0,1);
    height: 10%;
    font-size: 1vw;
    font-family: arial;
    transform: translate(-50%);
}
.name_h { 
    left: 35%; 
    width: 70%; 
    border-top-left-radius: 0.5vw; 
    text-align: left;
    padding: inherit;
    display: flex;
    align-items: center;
}
.rang_h { 
    left: 85%; 
    width: 30%; 
    border-top-right-radius: 0.5vw; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Eingabe Bereich */

.fraktion {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 10%;
    left: 50%;
    width: 100%;
    height: 90%;
    transform: translate(-50%);
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

/* Spielername */

#fraktion-value-0 {
    position: absolute;
    color: white;
    left: 0%;
    font-size: 1vw;
    width: 100%;
    line-height: 2vw;
    text-overflow: ellipsis;
    padding: inherit;
	font-family: arial;
    z-index: 1;
} 
.name {
    padding-left: 0.6vw;
}

/* Spielrang */

#fraktion-value-1 {
    position: absolute;
    color: white;
    left: 70.5%;
    font-size: 1vw;
    width: 29.5%;
    text-align: center;
    line-height: 2vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: inherit;
	font-family: arial;
}

/* Hover */

.name:hover {
    background: rgba(255,255,255,0.3);
    cursor: pointer;
}

/* Buttons */

#btn_uprank, #btn_derank, #btn_kick {
    height: 15%;
    width: 25%;
    left: 82.5%;
    font-size: 1vw;
    border-radius: 0.5vw;
    border-width: 0.1vw;
    padding: 0;
    cursor: pointer;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn_uprank {top: 20%}
#btn_derank {top: 50%}
#btn_kick {top: 80%}

/* Close Button */

#close {
    top: 2%;
    right: 2.5%;
    font-family: arial;
    color: rgba(255,255,255,0.6);
}
#close:hover {
    font-weight: bold;
    color: rgba(255,0,0,0.6);
}

::-webkit-scrollbar { display: none; }

