@font-face { font-family: 'drugs';
             src: url('./font/Caviar-Dreams.ttf') format('truetype'); }
@font-face { font-family: 'robot';
             src: url('./font/Roboto-Thin.ttf') format('truetype'); }
 
.all {
    -ms-user-select: None; 
    -moz-user-select: None; 
    -webkit-user-select: None; 
}

/* Hintergrund */

.back {
    position: absolute;
    background: rgba(15, 15, 15, 0.8);
    width: 35vw;
    height: 30vw;
    left: 50%;
    top: 11.8vw;
    transform: translate(-50%);
}

/* Überschrift */

.header {
    position: absolute;
    background: rgba(15, 15, 15, 0.4);
    color: white;
    text-align: center;
    font-family: drugs;
    font-weight: bold;
    width: 35vw;
    font-size: 1.4vw;
    padding: 0.3vw 0vw;
    left: 50%;
    top: 12vw;
    transform: translate(-50%);
}

/* Blauer strich */

.blue_header {
    position: absolute;
    background: rgba(0, 150, 200, 0.6);
    width: 35vw;
    top: 11.8vw;
    height: 0.2vw;
    left: 50%;
    transform: translate(-50%);
}

/* Hintergrund Balekn unten */

.back_down {
    position: absolute;
    background: rgba(15, 15, 15, 0.4);
    width: 35vw;
    height: 10.1vw;
    left: 50%;
    top: 24.3vw;
    transform: translate(-50%);
}

/* Zapfsäulen Bild */

#gas_image {
    position: absolute;
    left: 38%;
    top: 15.75vw;
    transform: translate(-50%);
    width: 7vw;
    height: 7vw;
}

/* Voll tanken Button */

.voll_tanken_btn {
	position: absolute;
	padding: 2.4vw 0.6vw;
	width: 5vw;
	background: rgba(15, 15, 15, 0.4);
	color: white;
	cursor: pointer;
	transition: all ease 1s;
    font-weight: bold;  
    font-size: 1vw;
    top: 15.78vw;
    left: 62.8%;
    transform: translate(-50%);
    text-align: center;
    font-family: robot;
}
.voll_tanken_btn:hover, .voll_tanken_btn:active {
    position: absolute;
	outline: none;
	background: rgba(0, 150, 200, 0.6);
}

/* Voll tanken Text */

.voll_tanken_text {
    position: absolute;
    color: white;
    left: 50.5%;
    transform: translate(-50%);
    top: 17vw;
    font-family: robot;
    text-align: center;
    font-size: 1.2vw;
}

/* Kanister Bild */

#tank_image {
    position: absolute;
    left: 37.7%;
    top: 25.9vw;
    transform: translate(-50%);
    width: 6.4vw;
    height: 7vw;
}

/* Liter tanken Button */

.liter_tanken_btn {
	position: absolute;
	padding: 1.4vw 0.6vw;
	width: 5vw;
	background: rgba(15, 15, 15, 0.4);
	color: white;
	cursor: pointer;
	transition: all ease 1s;
    font-weight: bold;  
    font-size: 1vw;
    top: 28.29vw;
    left: 62.8%;
    transform: translate(-50%);
    text-align: center;
    font-family: robot;
}
.liter_tanken_btn:hover, .liter_tanken_btn:active {
    position: absolute;
	outline: none;
	background: rgba(0, 150, 200, 0.6);
}

/* Liter tanken Eingabefeld */

.liter_tanken_box {
    position: absolute;
    top: 25.49vw;
    left: 62.8%;
    width: 6.4vw;
    height: 2vw;
    text-align: center;
    transform: translate(-50%);
    
    display: block;
    font-size: 1vw;
    line-height: 1.5vw;
    color: white;
    background-color: rgb(15, 15, 15, 0.8);
    border: 0.16vw solid rgba(0,105,145);
    border-radius: 0.1vw;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.liter_tanken_box::-ms-expand {
    background-color: transparent;
    border: 0
}
.liter_tanken_box:focus {
    color: white;
    background-color: rgba(15, 15, 15, 0.7);
    border-color: rgb(0, 200, 255);
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 200, 255, 0.1)
}

/* Liter tanken Text */

.liter_tanken_text {
    position: absolute;
    color: white;
    left: 50.5%;
    transform: translate(-50%);
    top: 26.5vw;
    font-family: robot;
    text-align: center;
    font-size: 1.2vw;
}

/* Snack kaufen Button */

.snack_btn {
	position: absolute;
	padding: 0.8vw 0.6vw;
	width: 12vw;
	background: rgba(15, 15, 15, 0.4);
	color: white;
	cursor: pointer;
	transition: all ease 1s;
    font-weight: bold;  
    font-size: 1vw;
    top: 36.2vw;
    left: 41%;
    transform: translate(-50%);
    text-align: center;font-family: robot;
}
.snack_btn:hover, .snack_btn:active {
    position: absolute;
	outline: none;
	background: rgba(0, 150, 200, 0.6);
}

/* Kanister kaufen Button */

.kanister_btn {
    position: absolute;
	padding: 0.8vw 0.6vw;
	width: 12vw;
	background: rgba(15, 15, 15, 0.4);
	color: white;
	cursor: pointer;
	transition: all ease 1s;
    font-weight: bold;  
    font-size: 1vw;
    top: 36.2vw;
    left: 59%;
    transform: translate(-50%);
    text-align: center;
    font-family: robot;
}
.kanister_btn:hover, .kansiter_btn:active {
    position: absolute;
	outline: none;
	background: rgba(0, 150, 200, 0.6);
}

/* Close Button */

.close {
	position: absolute;
    height: auto;
	color: darkgray;
	cursor: pointer;
	transition: all ease 0s;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.3vw;
    top: 12.4vw;
    left: 66.5%;
    transform: translate(-50%);
}
.close:hover, .close:active {
    position: absolute;
	outline: none;
	color: darkred;
    font-weight: bold;
}

/*------------------------------------------------------*/