* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-user-select: none;
}

body, html {
	height: 100%;
	width: 100%;
	font-family: Montserrat-Regular, sans-serif;
}

input {
	outline: none;
	border: none;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

.container-box {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.box {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

svg {
	width: 31.9319vw;
    height: 47.924vh;
}

#background {
	fill: rgb(70, 70, 70);
	opacity: 0.25;
}

#km {
	fill: none;
	stroke: gray;
	stroke-width: 18;
	stroke-dasharray: 536;
}

#speedProgress{
    fill: none;
    stroke: rgb(60 73 119);
	stroke-width: 19px;
    stroke-dasharray: 1190;
	stroke-dashoffset: 790;
    transform-origin: center;
}

#taho {
	fill: none;
    stroke: gray;
    stroke-width: 16;
    stroke-dasharray: 234;
    transform: rotate(-47deg);
    transform-origin: center;
}

#tahoProgress {
	fill: none;
    stroke:rgb(60 73 119);
    stroke-width: 18px;
    transform: rotate(-47deg);
    transform-origin: center;
	stroke-dasharray: 700;
    stroke-dashoffset: 475;
}

#fuel {
    fill: none;
    stroke: gray;
    stroke-width: 8;
    stroke-dasharray: 606;
    stroke-dashoffset: 502;
    transform: rotate(-47deg);
    transform-origin: center;
}

#fuelProgress {
	fill: none;
    stroke: whitesmoke;
    stroke-width: 10;
    stroke-dasharray: 607;
    stroke-dashoffset: 502;
    transform: rotate(-47.2deg);
    transform-origin: center;
}


.svgText {
	font-family: Montserrat-Regular;
	fill: rgb(255, 254, 254);
}

.d-none{
	display: none !important;
}