/*----------------------------------//
///// VenoX Gaming & Fun 2019 © ///////
//////By LargePeach & VnX RL Crew////
////////www.venox-reallife.com////////
//----------------------------------*/

@font-face {
    font-family: 'drugs';
    src: url("font/Caviar-Dreams.ttf") format('truetype');
}

@font-face {
    font-family: 'robot';
    src: url('font/Roboto-Thin.ttf') format('truetype');
}

.all {
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
}

section {
    display: none;
}

input {
    display: none;
}

#infos:checked~#infos1,
#statements:checked~#statements1,
#transfers:checked~#transfers1,
#deposits:checked~#deposits1 {
    display: block;
}

/* Background */

.back {
    background: rgba(15, 15, 15, 0.8);
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 0.3vw;
    top: 12vw;
    left: 50%;
    transform: translate(-50%);
    border-top: 0.3vw solid rgb(0, 105, 150);
}

/* Überschrift */

.text_head {
    background: rgba(15, 15, 15, 0.8);
    position: absolute;
    color: rgba(225, 225, 225, 1);
    width: 30vw;
    font-size: 1.6vw;
    font-family: drugs;
    font-weight: bold;
    top: 12.3vw;
    left: 50%;
    height: 4vh;
    transform: translate(-50%);
    display: block;
    text-align: center;
}

/* VenoX Logo */

#logo_image {
    position: absolute;
    left: 56%;
    transform: translate(-50%);
    top: 14.9vw;
    width: 40vw;
    height: 4vw;
    z-index: 1;
}

/* Logo Hintergrund */

.image_back {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 14.3vw;
    width: 30vw;
    height: 5vw;
    background: rgba(15, 15, 15, 0.6);
    border-top: 0.2vw solid rgba(0, 150, 200, 0.6);
    border-bottom: 0.2vw solid rgba(0, 150, 200, 0.6);
}

/* Optionen Text */

.option {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 28vw;
    width: 30vw;
    text-align: center;
    font-size: 1vw;
    font-family: robot;
    padding: 0.4vw 0vw;
    color: white;
    background: rgba(0, 105, 150, 0.6);
}

/* Kontoinformationen Button */

[id="infos"]:checked {
    display: none;
}

[id="infos"]:checked+label,
[id="infos"]:not(:checked)+label {
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgb(0, 0, 0);
    left: 42.6%;
    transform: translate(-50%);
    top: 20.4vw;
    color: white;
    font-size: 1vw;
    padding: 0.8vw 0.8vw;
    border-radius: 0.2vw;
    width: 12vw;
    text-align: center;
}

[id="infos"]:hover+label,
[id="infos"]:active+label {
    background: rgb(0, 200, 255);
    transition: all ease 0.5s;
}

[id="infos"]:checked+label:after,
[id="infos"]:active+label:after {
    content: '';
    height: 1.2vw;
    width: 12vw;
    padding: 0.8vw 0.8vw;
    border-radius: 0.2vw;
    background: rgb(0, 200, 255);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Kontoauszüge Button */

[id="statements"]:checked {
    display: none;
}

[id="statements"]:checked+label,
[id="statements"]:not(:checked)+label {
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgb(0, 0, 0);
    left: 57.4%;
    transform: translate(-50%);
    top: 20.4vw;
    color: white;
    font-size: 1vw;
    padding: 0.8vw 0.8vw;
    border-radius: 0.2vw;
    width: 12vw;
    text-align: center;
}

[id="statements"]:hover+label,
[id="statements"]:active+label {
    background: rgb(0, 200, 255);
    transition: all ease 0.5s;
}

[id="statements"]:checked+label:after,
[id="statements"]:active+label:after {
    content: '';
    height: 1.2vw;
    width: 12vw;
    padding: 0.8vw 0.8vw;
    border-radius: 0.2vw;
    background: rgb(0, 200, 255);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Überweisen Button */

[id="transfers"]:checked {
    display: none;
}

[id="transfers"]:checked+label,
[id="transfers"]:not(:checked)+label {
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgb(0, 0, 0);
    left: 42.6%;
    transform: translate(-50%);
    top: 24.2vw;
    color: white;
    font-size: 1vw;
    padding: 0.8vw 0.8vw;
    border-radius: 0.2vw;
    width: 12vw;
    text-align: center;
}

[id="transfers"]:hover+label,
[id="transfers"]:active+label {
    background: rgb(0, 200, 255);
    transition: all ease 0.5s;
}

[id="transfers"]:checked+label:after,
[id="transfers"]:active+label:after {
    content: '';
    height: 1.2vw;
    width: 12vw;
    padding: 0.8vw 0.8vw;
    border-radius: 0.2vw;
    background: rgb(0, 200, 255);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Ein/Auszahlen Button */

[id="deposits"]:checked {
    display: none;
}

[id="deposits"]:checked+label,
[id="deposits"]:not(:checked)+label {
    position: absolute;
    cursor: pointer;
    font-family: robot;
    background: rgb(0, 0, 0);
    left: 57.4%;
    transform: translate(-50%);
    top: 24.2vw;
    color: white;
    font-size: 1vw;
    padding: 0.23vw 0.8vw;
    border-radius: 0.2vw;
    width: 12vw;
    text-align: center;
}

[id="deposits"]:hover+label,
[id="deposits"]:active+label {
    background: rgb(0, 200, 255);
    transition: all ease 0.5s;
}

[id="deposits"]:checked+label:after,
[id="deposits"]:active+label:after {
    content: '';
    height: 1.2vw;
    width: 12vw;
    padding: 0.8vw 0.8vw;
    border-radius: 0.2vw;
    background: rgb(0, 200, 255);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Konto Info */

.info_header {
    position: absolute;
    background: rgba(150, 150, 150, 0.6);
    color: white;
    left: 50%;
    transform: translate(-50%);
    top: 32.2vw;
    text-align: left;
    font-family: robot;
    font-size: 0.9vw;
    width: 23.6vw;
    padding: 0.2vw 1.4vw;
}

.info_back {
    position: absolute;
    background: rgba(0, 150, 200, 0.6);
    color: white;
    left: 50%;
    transform: translate(-50%);
    top: 33.65vw;
    padding: 2vw 0.6vw;
    width: 25.2vw;
    text-align: center;
    font-family: robot;
    font-size: 2vw;
}

/* Kontoauszüge */

.folgt {
    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%);
    top: 34vw;
    text-align: center;
    font-family: drugs;
    font-size: 2vw;
}

/* Überweisen */

.to {
    position: absolute;
    background: rgba(150, 150, 150, 0.6);
    color: white
}

.to_box {
    position: absolute;
    top: 31.2vw;
    left: 50%;
    width: 20vw;
    text-align: center;
    transform: translate(-50%);
    display: block;
    font-size: 1vw;
    line-height: 1.6vw;
    color: white;
    letter-spacing: 0.1vw;
    background-color: rgb(15, 15, 15, 0.8);
    border: 0.1vw solid rgba(0, 105, 145);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.to_box::-ms-expand {
    background-color: transparent;
    border: 0
}

.to_box:focus {
    color: white;
    background-color: rgba(15, 15, 15, 0.7);
    border-color: rgb(0, 200, 255);
    outline: 0;
}

.ammount {
    position: absolute;
    background: rgba(150, 150, 150, 0.6);
    color: white
}

.ammount_box {
    position: absolute;
    top: 33.7vw;
    left: 50%;
    width: 20vw;
    text-align: center;
    transform: translate(-50%);
    display: block;
    font-size: 1vw;
    line-height: 1.6vw;
    color: white;
    letter-spacing: 0.1vw;
    background-color: rgb(15, 15, 15, 0.8);
    border: 0.1vw solid rgba(0, 105, 145);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.ammount_box::-ms-expand {
    background-color: transparent;
    border: 0
}

.ammount_box:focus {
    color: white;
    background-color: rgba(15, 15, 15, 0.7);
    border-color: rgb(0, 200, 255);
    outline: 0;
}

.because {
    position: absolute;
    background: rgba(150, 150, 150, 0.6);
    color: white
}

.because_box {
    position: absolute;
    top: 36.2vw;
    left: 50%;
    width: 20vw;
    text-align: center;
    transform: translate(-50%);
    display: block;
    font-size: 1vw;
    line-height: 1.6vw;
    color: white;
    letter-spacing: 0.1vw;
    background-color: rgb(15, 15, 15, 0.8);
    border: 0.1vw solid rgba(0, 105, 145);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.because_box::-ms-expand {
    background-color: transparent;
    border: 0
}

.because_box:focus {
    color: white;
    background-color: rgba(15, 15, 15, 0.7);
    border-color: rgb(0, 200, 255);
    outline: 0;
}

.pay {
    position: absolute;
    width: 14vw;
    padding: 0.4vw 1vw;
    background: rgba(0, 150, 200, 0.6);
    color: white;
    cursor: pointer;
    transition: all ease 0.2s;
    top: 39.1vw;
    left: 50%;
    transform: translate(-50%);
    font-size: 1vw;
    font-family: robot;
    text-align: center;
}

.pay:hover,
.pay:active {
    position: absolute;
    background: rgba(0, 200, 250, 0.6);
}

/* Ein/Auszahlen */

.betrag_box {
    position: absolute;
    top: 33vw;
    left: 50%;
    width: 20vw;
    text-align: center;
    transform: translate(-50%);
    display: block;
    font-size: 1vw;
    line-height: 2vw;
    color: white;
    letter-spacing: 0.1vw;
    background-color: rgb(15, 15, 15, 0.8);
    border: 0.1vw solid rgba(0, 105, 145);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.betrag_box::-ms-expand {
    background-color: transparent;
    border: 0
}

.betrag_box:focus {
    color: white;
    background-color: rgba(15, 15, 15, 0.7);
    border-color: rgb(0, 200, 255);
    outline: 0;
}

.in {
    position: absolute;
    width: 7vw;
    padding: 0.4vw 1vw;
    background: rgba(0, 150, 200, 0.6);
    color: white;
    cursor: pointer;
    transition: all ease 0.2s;
    top: 37.3vw;
    left: 44.6%;
    transform: translate(-50%);
    font-size: 1vw;
    font-family: robot;
    text-align: center;
}

.in:hover,
.in:active {
    position: absolute;
    background: rgba(0, 200, 250, 0.6);
}

.out {
    position: absolute;
    width: 7vw;
    padding: 0.4vw 1vw;
    background: rgba(0, 150, 200, 0.6);
    color: white;
    cursor: pointer;
    transition: all ease 0.2s;
    top: 37.3vw;
    left: 55.4%;
    transform: translate(-50%);
    font-size: 1vw;
    font-family: robot;
    text-align: center;
}

.out:hover,
.out:active {
    position: absolute;
    background: rgba(0, 200, 250, 0.6);
}

/* Close Button */

.close {
    position: absolute;
    height: auto;
    color: gray;
    cursor: pointer;
    transition: all ease 0ss;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.4vw;
    top: 12.5vw;
    left: 64%;
    transform: translate(-50%);
}

.close:hover,
.close:active {
    position: fixed;
    outline: none;
    color: darkred;
    font-weight: bold;
}

/* -------------------------------------------------- */