/*----------------------------------//
///// VenoX Gaming & Fun 2019 © ///////
//////By LargePeach & VnX RL Crew////
////////www.venox-reallife.com////////
//----------------------------------*/

@font-face { font-family: 'drugs';
             src: url('./files/font/Caviar-Dreams.ttf') format('truetype'); }
@font-face { font-family: 'robot';
             src: url('./files/font/Roboto-Thin.ttf') format('truetype'); }
 
.all {
    -ms-user-select: None; 
    -moz-user-select: None; 
    -webkit-user-select: None; 
}

/* Blauer Strich*/

.blue_header {
    position: absolute;
    background: rgba(0,150, 200, 0.6);

    width: 100%;
    height: 0.2vw;
    top: 0vw;
    left: 0%;
    transform: matrix(-50%);
	z-index: 1;
}

/* Überschrift */

.header {
    position: absolute;
    background: rgba(15, 15, 15, 0.4);
    color: white;
    text-align: center;
    font-size: 1.2vw;
    width: 100%;
    top: 0vw;
    left: 50%;
    height: 2.7vw;
    transform: translate(-50%);
    font-size: 2vw;
    padding: 0.4vw 0vw;
    font-family: drugs;
    text-align: center;
}

/* Blue Header Main */

.blue_header_main {
    position: absolute;
    background: rgba(0,150, 200, 0.6);

    width: 40vw;
    height: 0.2vw;
    top: 12.8vw;
    left: 50%;
    transform: translate(-50%);
		z-index: 1;
}

/* Blue Header Main 2 */

.blue_header_main_2 {
    position: absolute;
    background: rgba(0,150, 200, 0.6);

    width: 40vw;
    height: 0.2vw;
    top: 16.4vw;
    left: 50%;
    transform: translate(-50%);
		z-index: 1;
}

/* Wilkommen zurück Schrift */

.welcome_player_main {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    width: 40vw;
    height: 2vw;
    top: 13.7vw;
    font-size: 1.8vw;
    font-family : drugs;
    color: white;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

/* Hintergrund */

.main {
    position: absolute;
    background: rgba(15, 15, 15, 0.4);
    color: white;
    text-align: center;
    font-size: 1.2vw;
    width: 40vw;
    top: 12.8vw;
    left: 50%;
    transform: translate(-50%);
    height: 30.2vw;
    font-weight: bold;
    font-family: drugs;
}

/* Info Button */

.info_btn {
	position: absolute;
	width: 10vw;
    padding: 0.4vw 0vw;
	background: rgba(70, 70, 70, 0.85);
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	transition: all ease 0.2s;
    top: 38.4vw;
    left: 37.5%;
    transform: translate(-50%);
        border-top: 0.2vw solid rgba(0, 105, 145, 0.7);
    font-size: 1.5vw;
    font-family: robot;
    text-align: center;
}
.info_btn:hover, .info_btn:active {
    position: absolute;
	background: rgba(100, 100, 100, 0.85);
    border-top: 0.2vw solid rgba(0, 200, 255, 0.7);
	color: white;
}

/* Login Button */

.login_btn {
	position: absolute;
	width: 10vw;
    padding: 0.4vw 0vw;
	background: rgba(70, 70, 70, 0.85);
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	transition: all ease 0.2s;
    top: 38.4vw;
    left: 50%;
    transform: translate(-50%);
        border-top: 0.2vw solid rgba(0, 105, 145, 0.7);
    font-size: 1.5vw;
    font-family: robot;
    text-align: center;
}
.login_btn:hover, .login_btn:active {
    position: absolute;
	background: rgba(100, 100, 100, 0.85);
    border-top: 0.2vw solid rgba(0, 200, 255, 0.7);
	color: white;
}

/* Hilfe Button */

.help_btn {
	position: absolute;
	width: 10vw;
    padding: 0.4vw 0vw;
	background: rgba(70, 70, 70, 0.85);
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	transition: all ease 0.2s;
    top: 38.4vw;
    left: 62.5%;
    transform: translate(-50%);
        border-top: 0.2vw solid rgba(0, 105, 145, 0.7);
    font-size: 1.5vw;
    font-family: robot;
    text-align: center;
}
.help_btn:hover, .help_btn:active {
    position: absolute;
	background: rgba(100, 100, 100, 0.85);
    border-top: 0.2vw solid rgba(0, 200, 255, 0.7);
	color: white;
}

/* Username eingabe Feld */

.name_box {
    position: absolute;
    top: 31vw;
    left: 50%;
    width: 15vw;
    height: 2vw;
    text-align: center;
    display: block;
    font-size: 1vw;
    line-height: 1.5;
    color: white;
    background-color: rgb(40, 40, 40);
    border: 0.5px solid rgba(0,105,145);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transform: translate(-50%);
}
.name_box::-ms-expand {
    background-color: transparent;
    border: 0vw;
}
.name_box:focus {
    color: white;
    background-color: rgba(40, 40, 40, 0.9);
    border-color: rgb(0, 200, 255);
    outline: 0vw;
    box-shadow: 0vw 0vw 0vw .2rem rgba(0, 200, 255, 0.1);
}

/* Passwort eingabe Feld */

.pw_box {
    position: absolute;
    top: 33.5vw;
    left: 50%;
    width: 15vw;
    height: 2vw;
    text-align: center;
    display: block;
    font-size: 1vw;
    line-height: 1.5;
    color: white;
    background-color: rgb(40, 40, 40);
    border: 0.5px solid rgba(0,105,145);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transform: translate(-50%);
}
.pw_box::-ms-expand {
    background-color: transparent;
    border: 0vw;
}
.pw_box:focus {
    color: white;
    background-color: rgba(40, 40, 40, 0.9);
    border-color: rgb(0, 200, 255);
    outline: 0vw;
    box-shadow: 0vw 0vw 0vw .2rem rgba(0, 200, 255, 0.1);
}

/* VenoX Bild */

#logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 18vw;
    width: 15vw;
    height: 15vw;
}

/* Changelog Window */

.changelog_main{
    position: absolute;
    background: rgba(0,0,0,0.40);
    top : 13vw;
        border-top: 0.2vw solid rgba(0, 105, 145, 0.7);
    width: 20vw;
    height:30vw;
}
.changelog_header{
    position: absolute;
    background: rgba(0,0,0,0.40);
    top : 13.1vw;
    width: 19vw;
    text-align: center;
    font-family: drugs;
    color:white;
    padding: 0.5vw; 
}
.changelog_body{
    position: absolute;
    background: rgba(0,0,0,0.20);
    top : 15.4vw;
    width: 19vw;
    height: 26.75vw;
    font-family: drugs;
    color:white;
    padding: 0.5vw; 
    overflow: hidden;
}

/* Info Window */

.information_main{
    position: absolute;
    background: rgba(0,0,0,0.40);
    top : 13vw;
        border-top: 0.2vw solid rgba(0, 105, 145, 0.7);
    width: 20vw;
    height:30vw;
    right: 1%
}
.information_header{
    position: absolute;
    background: rgba(0,0,0,0.40);
    top : 13.1vw;
    width: 19vw;
    text-align: center;
    font-family: drugs;
    font-size: 1.2vw;
    font-weight: bold;
    color:white;
    padding: 0.5vw; 
    right: 1%;
}
.information_body{
    position: absolute;
    background: rgba(0,0,0,0.20);
    top : 15.4vw;
    width: 19vw;
    height: 26.75vw;
    font-family: robot;
    color:white;
    padding: 0.5vw; 
    right: 1%;
    overflow: hidden;
    text-align: center;
    text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}
.information_body_legalnotice{
    position: absolute;
    top : 39vw;
    width: 19vw;
    height: 3vw;
    font-family: robot;
    font-size: 0.90vw;
    color: white;
    padding: 0.5vw; 
    right: 1%;
    overflow: hidden;
    text-align: center;
    text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

/* Hilfe Window */

.help_window_main{
    position: absolute;
    background: rgba(0,0,0,0.40);
    top : 13vw;
        border-top: 0.2vw solid rgba(0, 105, 145, 0.7);
    width: 20vw;
    height:30vw;
    right: 1%
}
.help_window_header{
    position: absolute;
    background: rgba(0,0,0,0.40);
    top : 13.1vw;
    width: 19vw;
    text-align: center;
    font-family: drugs;
    font-size: 1.2vw;
    font-weight: bold;
    color:white;
    padding: 0.5vw; 
    right: 1%;
}
.help_window_body{
    position: absolute;
    background: rgba(0,0,0,0.20);
    top : 15.4vw;
    width: 19vw;
    height: 26.75vw;
    font-family: robot;
    color:white;
    padding: 0.5vw; 
    right: 1%;
    overflow: hidden;
    text-align: center;
    text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

/* Hilfe Info */

.help_window_info{
    position: absolute;
    top : 30vw;
    width: 19vw;
    height: 3vw;
    font-family: robot;
    color: rgba(200,200,200,1);
    padding: 0.5vw; 
    right: 1%;
    overflow: hidden;
    font-size: 0.80vw;
    text-align: center;

}

/* Hilfe Button */

.help_btn {
	position: absolute;
	width: 10vw;
    padding: 0.4vw 0vw;
	background: rgba(70, 70, 70, 0.85);
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	transition: all ease 0.2s;
    top: 38.4vw;
    left: 62.5%;
    transform: translate(-50%);
        border-top: 0.2vw solid rgba(0, 105, 145, 0.7);
    font-size: 1.5vw;
    font-family: robot;
    text-align: center;
}
.help_btn:hover, .help_btn:active {
    position: absolute;
	background: rgba(100, 100, 100, 0.85);
    border-top: 0.2vw solid rgba(0, 200, 255, 0.7);
	color: white;
}


/* Help_window_btn */

.Help_window_btn {
	position: absolute;
	width: 13vw;
    padding: 0.4vw 0vw;
	background: rgba(120, 0, 0, 0.85);
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	transition: all ease 0.2s;
    top: 28vw;
    right: -2%;
    transform: translate(-50%);
    font-size: 1.2vw;
    font-family: robot;
    text-align: center;
}
.Help_window_btn:hover, .Help_window_btn:active {
    position: absolute;
	background: rgba(200, 0, 0, 0.85);
	color: white;
}

/* Hilfe Text beendet */

.help_window_done_text {
    position: absolute;
    top : 26vw;
    width: 19vw;
    height: 5vw;
    font-family: robot;
    color:rgba(0,200,255,1);
    padding: 0.5vw; 
    right: 1%;
    overflow: hidden;
    font-size: 1vw;
    text-align: center;
        text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

/* Falsches Passwort */

.alert {
    position: absolute;
    background: rgb(0, 150, 200);
    border: 0.1vw solid black;
    color: white;
    font-size: 1vw;
    padding: 0.2vw 0.3vw;
    top: 35.5vw;
    left: 50%;
    transform: translate(-50%);
    width: 14.3vw;
    height: 1vw;
    border-radius: .25rem;
    font-family: robot;
    text-align: center;
}

/*------------------------------------------------*/

.black_fx_In{
    position: absolute;
    background: rgba(0, 0, 0,1);
    top: 0%;
    height: 100%;
    left: 0%;
    width: 100%;
    animation: fadein 3.5s linear; 
}

@keyframes fadein {
    0%{
        opacity:0;
    }
   100%{
        opacity:1;
    }
}

.black_fx_Out{
    position: absolute;
    background: rgba(0, 0, 0,1);
    top: 0%;
    height: 100%;
    left: 0%;
    width: 100%;
    animation: fadeout 3.5s linear; 
}

@keyframes fadeout {
    0%{
        opacity:1;
    }
   100%{
        opacity:0;
    }
}

.d-none {
    display: none !important
}
