* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

body,
html {
    height: 100%;
    width: 100%;
}

input {
    outline: none;
    border: none;
}

button {
    outline: none !important;
    border: none;
    cursor: pointer;
}

.form {
    width: 100vw;
    min-height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*background: black;
    background-image: url(../../assets/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    */
}

img {
    position: absolute;
    width: 9vw;
    top: 1vh;
}

span {
    position: absolute;
    font-size: 1.5vh;
    color: white;
    font-family: Montserrat-Bold;
}

.micBG {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.556vh;
    border-radius: 5vh;
    background: rgba(128, 128, 128, 0.45);
    height: 4.556vh;
    top: 93vh;
    transition: 0.3s;
}

.micImg {
    position: relative;
    width: 1.5vw;
    top: 0vh;
    left: 0vw;
    opacity: 0.8;
}

.micBG-style {
    background: rgba(0, 200, 255, 1);
    box-shadow: 0 0 3vh rgb(0, 200, 255);
    transition: 0.3s
}

.logo {
    position: fixed;
    display: flex;
    width: 10vw;
    height: 18vh;
    top: 0vh;
    left: 90vw;
    justify-content: center;
}

.logo-img {
    filter: drop-shadow(0vh 0vh 0.06vh #000000);
    position: absolute;
    width: 9vw;
    height: 7.927vh;
    left: 0.4vw;
}

.onlineSpan {
    position: relative;
    font-size: 1.689vh;
    top: 10.1vh;
    color: #fefdff;
    font-family: Montserrat-Bold;
    text-shadow: 0vh 0vh 0.6vh #000000;
    height: 2vh;
    margin-left: 0.3vw;
}

.idSpan {
    font-size: 1.689vh;
    color: #bebabe;
    top: 10.1vh;
    font-family: Montserrat-Bold;
    text-shadow: 0vh 0vh 0.2vh #000000;
    position: relative;
    height: 2vh;
    margin-left: 1vw;
}

.greenZoneSpan {
    font-size: 2.407vh;
    top: 4vh;
    color: #63d454;
    font-family: Montserrat-ExtraBoldItalic;
    text-shadow: 0vh 0vh 0.35vh #000000;
    opacity: 0.9;
}

.onlineImg {
    position: relative;
    width: 1.089vw;
    height: 1.759vh;
    top: 10.23vh;
    filter: drop-shadow(0vh 0vh 0.2vh #000000);
}

.walletImg {
    position: relative;
    width: 1.302vw;
    height: 1.759vh;
    top: 6.926vh;
    left: 0vw;
    filter: drop-shadow(0vh 0vh 1.5vh #000000);
}

.moneySpan {
    position: relative;
    font-size: 1.944vh;
    color: #63d454;
    top: 6.926vh;
    left: 0.365vw;
    font-family: Montserrat-SemiBold;
    text-shadow: 0vh 0vh 0.35vh #000000;
    letter-spacing: 0.2vh;
}

.cardImg {
    position: relative;
    width: 1.146vw;
    height: 1.296vh;
    top: 6.944vh;
    left: 1.094vw;
    filter: drop-shadow(0vh 0vh 1.5vh #000000);
}

.cardSpan {
    position: relative;
    font-size: 1.944vh;
    color: #bebabe;
    top: 6.926vh;
    left: 1.458vw;
    font-family: Montserrat-SemiBold;
    text-shadow: 0vh 0vh 0.35vh #000000;
    letter-spacing: 0.2vh;
}

.spanTime {
    font-size: 2.222vh;
    color: #fefdff;
    font-family: Montserrat-ExtraBoldItalic;
    text-shadow: 0vh 0vh 0.6vh #000000;
}

.spanDate {
    font-size: 1.389vh;
    color: #bebabe;
    top: 11.259vh;
    font-family: Montserrat-BoldItalic;
    text-shadow: 0vh 0vh 0.35vh #000000;
}

.thermometerImg {
    position: relative;
    width: 1.146vw;
    height: 2.037vh;
    top: 4.1vh;
    left: -0.3vw;
}

.spanThermometer {
    position: relative;
    font-size: 1.296vh;
    top: 4.1vh;
    color: #fefdff;
    font-family: Montserrat-ExtraBoldItalic;
    text-shadow: 0vh 0vh 0.6vh #000000;
}

.secondInterface {
    position: fixed;
    display: flex;
    align-items: center;
    width: 17.188vw;
    height: 20.371vh;
    left: 17vw;
    top: 79.6vh;
}

.timeInterface {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 17.188vw;
    height: 20.371vh;
    left: 81.5vw;
    top: 79.6vh;
}

.moneyHUD {
    position: fixed;
    display: flex;
    width: 28.063vw;
    height: 4.593vh;
    top: 94.3vh;
    left: 19vw;
}

.money {
    position: absolute;
    width: 2vw;
    top: 0vh;
    left: 4vw;
    opacity: 1;
}

.card {
    position: absolute;
    width: 2vw;
    top: 1.4vh;
    left: 15vw;
    opacity: 1;
}

svg {
    width: 7.5vw;
    height: 10.65vh;
}

#eatBar {
    fill: none;
    stroke: #ffa500;
    stroke-width: 5;
    transform-origin: center;
    transform: rotate(-90deg);
    stroke-dasharray: 188.5;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}

.eatBar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 17vw;
    top: 86vh;
}

#background {
    fill: none;
    stroke: #949494;
    stroke-width: 5;
    transform-origin: center;
    transform: rotate(-90deg);
    stroke-dasharray: 188.5;
    stroke-dashoffset: 0;
}

#waterBar {
    fill: none;
    stroke: #00bfff;
    stroke-width: 5;
    transform-origin: center;
    transform: rotate(-90deg);
    stroke-dasharray: 188.5;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}