/*----------------------------------//
///// VenoX Gaming & Fun 2019 © ///////
//////By Solid_Snake & VnX RL Crew////
////////www.venox-reallife.com////////
//----------------------------------*/

@font-face {
    font-family: 'drugs';
    src: url('./files/font/Caviar-Dreams.ttf') format('truetype');
}

@font-face {
    font-family: 'robot';
    src: url('./files/font/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'hangover';
    src: url('./files/font/hangover.ttf') format('truetype');
}

.all {
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    overflow: hidden;
}

/* Hintergrund */

.background {
    position: absolute;
    left: 0vw;
    top: 0vw;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* Header */

.header_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2.5vw;
    background: rgba(0, 0, 0, 0.8);
    border-top: solid 0.15vw rgb(0, 150, 200, 1);
    z-index: 1;
    animation: Contentmove 2s linear;
}

.language-button {
    position: relative;
    width: 2vw;
    height: 85%;
    padding: 0.3vw;
}

/* Spielmodi Texte */

.rec_text {
    position: absolute;
    top: -10%;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2.5vw;
    text-align: center;
    font-family: arial;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-width: 0.08vw;
    -webkit-text-stroke-color: black;
}

/*
.rec_userinfo {
    position: absolute;
    top: 20%;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 0.8vw;
    font-family: drugs;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-width: 0.00vw;
    text-shadow: 2px 2px 2px black, 2px -2px 2px black, -2px 2px 2px black, -2px -2px 2px black;
}*/

.rec_lobbyinfo {
    position: absolute;
    top: 21%;
    height: 79%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow-y: auto !important;
}

.rec_column {
    position: relative;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.6);
}

.rec_column:hover {
    background: rgba(0, 200, 255, 0.6);
}

.rec_columnhover:hover {
    background: rgba(0, 0, 0, 0.9);
}

.rec_column_header {
    position: absolute;
    width: 100%;
    height: 20%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-family: arial;
    border-bottom: 0.15vw solid rgb(0, 200, 255);
    background: rgba(0, 0, 0, 0.9);
}

.rec_column_lobby_image {
    position: absolute;
    left: 2%;
    width: 10%;
    height: 80%;
    top: 10%;
}

.rec_column_lobby_name {
    position: absolute;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    font-family: arial;
}

.rec_column_lobby_count {
    position: absolute;
    color: white;
    height: 100%;
    width: 20%;
    left: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    font-family: arial;
}

/* Zombies */

.rec_0 {
    position: absolute;
    left: 20%;
    top: 20%;
    height: 25%;
    width: 25%;
    transform: translate(-50%, -50%);
    background-image: url("./files/images/Zombie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline-style: solid;
    outline-color: white;
    animation: Contentmove 1s linear;
}

/* Reallife */

.rec_1 {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 25%;
    width: 25%;
    transform: translate(-50%, -50%);
    background-image: url("./files/images/Reallife.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline-style: solid;
    outline-color: white;
    animation: Contentmove_M 1s linear;
}

/* Tactics */

.rec_2 {
    position: absolute;
    left: 80%;
    top: 20%;
    height: 25%;
    width: 25%;
    transform: translate(-50%, -50%);
    background-image: url("./files/images/Tactics.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline-style: solid;
    outline-color: white;
    animation: Contentmove 1s linear;
}

/* Race */

.rec_3 {
    position: absolute;
    left: 20%;
    top: 50%;
    height: 25%;
    width: 25%;
    transform: translate(-50%, -50%);
    background-image: url("./files/images/Race.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline-style: solid;
    outline-color: white;
    animation: Contentmove 1s linear;
}

/* 7-Towers */

.rec_4 {
    position: absolute;
    left: 50%;
    top: 20%;
    height: 25%;
    width: 25%;
    transform: translate(-50%, -50%);
    background-image: url("./files/images/Towers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline-style: solid;
    outline-color: white;
    animation: Contentmove_M 1s linear;
}

/* Option 6 */

.rec_5 {
    position: absolute;
    left: 80%;
    top: 50%;
    height: 25%;
    width: 25%;
    transform: translate(-50%, -50%);
    background-image: url("./files/images/locked.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline-style: solid;
    outline-color: white;
    animation: Contentmove 1s linear;
}

/* Option 7 */

.rec_6 {
    position: absolute;
    left: 20%;
    top: 80%;
    height: 25%;
    width: 25%;
    transform: translate(-50%, -50%);
    background-image: url("./files/images/locked.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline-style: solid;
    outline-color: white;
    animation: Contentmove 1s linear;
}

/* Option 8 */

.rec_7 {
    position: absolute;
    left: 50%;
    top: 80%;
    height: 25%;
    width: 25%;
    transform: translate(-50%, -50%);
    background-image: url("./files/images/locked.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline-style: solid;
    outline-color: white;
    animation: Contentmove_M 1s linear;
}

/* Option 9 */

.rec_8 {
    position: absolute;
    left: 80%;
    top: 80%;
    height: 25%;
    width: 25%;
    transform: translate(-50%, -50%);
    background-image: url("./files/images/locked.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline-style: solid;
    outline-color: white;
    animation: Contentmove 1s linear;
}

/* Effekte */

@keyframes Contentmove {
    0% {
        transform: translate(-50%, -500%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Contentmove_M {
    0% {
        transform: translate(-50%, 500%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes AddBlur {
    0% {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }

    100% {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
}

@keyframes RemoveBlur {
    0% {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    100% {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
}

.blurin {
    animation: AddBlur 1s infinite;
}

.blurout {
    animation: RemoveBlur 1s infinite;
}

.d-none {
    display: none;
}

.growanim {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
}

.growanim:hover,
.growanim:focus,
.growanim:active {
    height: 30%;
    width: 30%;
}

/* Loading Screen */

.Loading-Screen-Main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    background: black;
}

.VnX-LoadingBar {
    font-size: 0.7vw !important;
    color: #03A1AB;
    text-align: left;
}

.VnX-LoadingBar-Asset {
    position: absolute;
    left: 80%;
    top: 4%;
    font-size: 0.7vw !important;
    transform: translateZ(0) scale(0.25);
}

.VnX-LoadingBar-Parent {
    position: absolute;
    left: 82%;
    top: 91.5%;
    color: white;
    width: 15vw;
    height: 0.9vw;
    font-size: 0.9vw;
    font-family: arial;
    padding: 1vw;
    background: rgb(0, 0, 0, 0.8);
    border-radius: 1vw;
    border-top: solid 0.03vw rgb(0, 105, 145);
    z-index: 1;
}

.InformationText1-Header {
    position: absolute;
    left: 50%;
    top: 6%;
    text-align: center;
    font-size: 1.2vw;
    transform: translate(-50%);
    width: 50vw;
    font-family: arial;
    color: white;
}

.InformationText1 {
    position: absolute;
    left: 50%;
    top: 10%;
    font-size: 0.65vw;
    transform: translate(-50%);
    height: 25vw;
    overflow: auto;
    width: 50vw;
    font-family: arial;
    color: white;
}

.Logo-View {
    position: absolute;
    left: 50%;
    height: 50%;
    transform: translate(-50%);
    width: 35vw;
    height: 35vw;
}

.Loading-Background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(files/images/wallpaper/bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.Loading-Background-Char {
    position: absolute;
    left: 5vw;
    top: 30%;
    width: 35vw;
    background-image: url(files/images/wallpaper/bg-1-char.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.Anim_InAndOut {
    animation: InAndOut 5s;
    opacity: 0;
}

.Anim_In {
    animation: In 2s;
    opacity: 1;
}

.Anim_Out {
    animation: Out 2s;
    opacity: 0;
}

.Anim_LeftToRight {
    position: absolute;
    animation: LeftToRight 10s;
    left: 5vw;
}

.Anim_RightToLeft {
    position: absolute;
    animation: RightToLeft 10s;
    right: 15vw;
}

/* Animations */

@keyframes InAndOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes In {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*loading*/

#app {
    background: black;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    animation: zoom 5s linear;
}

.character {
    position: absolute;
    bottom: 0;
    height: 60%;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 2s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

@keyframes zoom {
    0% {
        background-size: 120%;
    }

    100% {
        background-size: 100%;
    }
}

.anim-ltr {
    position: absolute;
    animation: LeftToRight 10s linear;
    left: 15vw;
}

.anim-rtl {
    position: absolute;
    animation: RightToLeft 10s linear;
    right: 15vw;
}

@keyframes LeftToRight {
    0% {
        left: 10vw;
    }

    100% {
        left: 20vw;
    }
}

@keyframes RightToLeft {
    0% {
        right: 10vw;
    }

    100% {
        right: 20vw;
    }
}