# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.VenoXV.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Solid_Snake\Documents\[VenoX]\VenoXV\.idea\.idea.VenoXV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
