/*//----------------------------------//
///// VenoX Gaming & Fun 2019 © ///////
//////By LargePeach & VnX RL Crew////
////////www.venox-reallife.com////////
//----------------------------------//*/

@font-face { font-family: 'drugs';
             src: url('./fonts/Caviar-Dreams.ttf') format('truetype'); }
@font-face { font-family: 'robot';
             src: url('./fonts/Roboto-Thin.ttf') format('truetype'); }

.all {
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    height: 100%;
    width: 100%;
}

* {
	user-select: none;
    list-style: none;
}

/* Hintergrund */

.back {
    position: fixed;
    background: rgba(15, 15, 15, 0.7);
    width: 50.4vw;
    height: 30.45vw;
    left: 50%;
    transform: translate(-50%);
    top: 12vw;
}

/* Blauer Strich */

.blue_line {
    position: fixed;
	background: rgba(0, 150, 200, 0.6);
	width: 50.4vw;
	left: 50%;
    transform: translate(-50%);
	height: 0.2vw;
	top: 12vw;
    list-style-type: inherit;
}

/* Überschrift */

.header {
    position: fixed;
	background: rgba(10, 10, 10, 0.6);
	color: white;
	font-size: 1.5vw;
	font-family: drugs;
	text-align: center;
	width: 50vw;
	left: 50%;
    transform: translate(-50%);
    top: 12.2vw;
    padding: 0.21vw 0vw;
    list-style-type: inherit;
}

/* Header Hintergrund */

.header_background {
    position: fixed;
    background: rgba(15, 15, 15, 0.4);
    width: 50.4vw;
    left: 50%;
    transform: translate(-50%);
    top: 14.3vw;
    height: 2.05vw;
    list-style-type: inherit;
}

/* Footer */

.footer {
    position: fixed;
    background: rgba(15, 15, 15, 0.4);
    width: 50.4vw;
    left: 50%;
    transform: translate(-50%);
    top: 36.55vw;
    height: 5.85vw;
}

/* Trennlinien */

.parting_line_1, .parting_line_2, .parting_line_3, .parting_line_4, .parting_line_5 , .parting_line_6, .parting_line_7, .parting_line_8, .parting_line_9{
    position: fixed;
    background: white;
    width: 0.1vw;
    height: 22.15vw;
    transform: translate(-50%);
    top: 14.3vw;
    z-index: 1;
    list-style-type: inherit;
}

.parting_line_1 {
    position: fixed;
    left: 35%;
    transform: translate(-50%);
}

.parting_line_2 {
    position: fixed;
    left: 43%;
    transform: translate(-50%);
}

.parting_line_3 {
    position: fixed;
    left: 54%;
    transform: translate(-50%);
}

.parting_line_4 {
    position: fixed;
    left: 61%;
    transform: translate(-50%);
}

.parting_line_5 {
    position: fixed;
    left: 71%;
    transform: translate(-50%);
}

.parting_line_6 {
    position: fixed;
    top: 12.2vw;
    height: 30.26vw;
    left: 24.96%;
    transform: translate(-50%);
    width: 0.2vw;
    background: rgba(10, 10, 10, 0.6);
}

.parting_line_7 {
    position: fixed;
    top: 12.2vw;
    height: 30.26vw;
    left: 75.08%;
    transform: translate(-50%);
    width: 0.2vw;
    background: rgba(10, 10, 10, 0.6);
}

.parting_line_8 {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    height: 0.2vw;
    width: 50vw;
    top: 36.45vw;
    background: rgba(0, 105, 150, 0.8);
}

.parting_line_9 {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    height: 0.2vw;
    width: 50vw;
    top: 42.25vw;
    background: rgba(10, 10, 10, 0.6);
}

/* Online Spieler anzahlen */
/* Los Santos Police Department */

.police {
    position: absolute;
    color: dodgerblue;
    text-align: center;
    font-family: robot;
    font-weight: bold;
    top: 37.3vw;
    left: 29%;
    transform: translate(-50%);
    letter-spacing: 0.03vw;
}

/* La Cosa Nostra */

.mafia {
    position: absolute;
    color: dimgray;
    text-align: center;
    font-family: robot;
    font-weight: bold;
    top: 37.3vw;
    left: 39%;
    transform: translate(-50%);
    letter-spacing: 0.03vw;
}

/* Yakuza */

.yakuza {
    position: absolute;
    color: firebrick;
    text-align: center;
    font-family: robot;
    font-weight: bold;
    top: 39vw;
    left: 39%;
    transform: translate(-50%);
    letter-spacing: 0.03vw;
}

/* Weazel News */

.weazel_news {
    position: absolute;
    color: darkgoldenrod;
    text-align: center;
    font-family: robot;
    font-weight: bold;
    top: 37.3vw;
    left: 61%;
    transform: translate(-50%);
    letter-spacing: 0.03vw;
}

/* Federal Investigation Bureau */

.fib {
    position: absolute;
    color: mediumblue;
    text-align: center;
    font-family: robot;
    font-weight: bold;
    top: 39vw;
    left: 29%;
    transform: translate(-50%);
    letter-spacing: 0.03vw;
}

/* Vatos Locos */

.vatos_locos {
    position: absolute;
    color: gold;
    text-align: center;
    font-family: robot;
    font-weight: bold;
    top: 40.7vw;
    left: 39%;
    transform: translate(-50%);
    letter-spacing: 0.03vw;
}

/* U.S. Army */

.army {
    /*display: none; /* Einfach löschen vor öffnung */
    position: absolute;
    color: darkgreen;
    text-align: center;
    font-family: robot;
    font-weight: bold;
    top: 40.7vw;
    left: 29%;
    transform: translate(-50%);
    letter-spacing: 0.03vw;
}

/* SAMCRO */

.samcro {
    position: absolute;
    color: saddlebrown;
    text-align: center;
    font-family: robot;
    font-weight: bold;
    top: 37.3vw;
    left: 50%;
    transform: translate(-50%);
    letter-spacing: 0.03vw;
}

/* Medic */

.medic {
    position: absolute;
    color: red;
    text-align: center;
    font-family: robot;
    font-weight: bold;
    top: 39vw;
    left: 61%;
    transform: translate(-50%);
    letter-spacing: 0.04vw;
}

/* Mechaniker */

.mechaniker { 
    /*display: none;/* Einfach löschen vor öffnung */
    position: absolute;
    color: orangered;
    text-align: center;
    font-family: robot;
    font-weight: bold;
    top: 40.7vw;
    left: 61%;
    transform: translate(-50%);
    letter-spacing: 0.04vw;
}

/* Rollin Height's */

.ballas {
    position: absolute;
    color: rebeccapurple;
    text-align: center;
    font-family: robot;
    font-weight: bold;
    top: 39vw;
    left: 50%;
    transform: translate(-50%);
    letter-spacing: 0.03vw;
}

/* Compton Family's */

.compton {
    position: absolute;
    color: forestgreen;
    text-align: center;
    font-family: robot;
    font-weight: bold;
    top: 40.7vw;
    left: 50%;
    transform: translate(-50%);
    letter-spacing: 0.03vw;
}

/* Spieler Online */

.player {
    position: absolute;
    color: rgb(0, 105, 150);
    text-align: center;
    font-family: robot;
    font-weight: bold;
    top: 40.7vw;
    left: 71%;
    transform: translate(-50%);
    letter-spacing: 0.03vw;
}

/* Namen */

.userdata_header {
	position: fixed;
	color: white;
	width: 9.95vw;
	left: 30%;
    transform: translate(-50%);
	top: 14.3vw;
	font-size: 1.45vw;
	font-family: robot;
	font-weight: bold;
    text-align: center;
    padding: 0.16vw 0vw;
    list-style-type: inherit;
}

/* Spielzeit */

.spielzeit_header {
	position: fixed;
	color: white;
	width: 8vw;
	left: 39%;
    transform: translate(-50%);
	top: 14.3vw;
	font-size: 1.45vw;
	font-family: robot;
	font-weight: bold;
    text-align: center;
    padding: 0.16vw 0vw;
    list-style-type: inherit;
}

/* Status */

.status_header {
	position: fixed;
	color: white;
	width: 11vw;
	left: 48.5%;
    transform: translate(-50%);
	top: 14.3vw;
	font-size: 1.45vw;
	font-family: robot;
	font-weight: bold;
    text-align: center;    
    padding: 0.16vw 0vw;
    list-style-type: inherit;
}

/* VIP */

.VIP_header {
	position: fixed;
	color: white;
	width: 7vw;
	left: 57.5%;
    transform: translate(-50%);
	top: 14.3vw;
	font-size: 1.45vw;
	font-family: robot;
	font-weight: bold;
    text-align: center;
    padding: 0.16vw 0vw;
    list-style-type: inherit;
}

/* Fraktionen */

.Fraktion_header {
	position: fixed;
	color: white;
	width: 10vw;
	left: 66%;
    transform: translate(-50%);
	top: 14.3vw;
	font-size: 1.45vw;
	font-family: robot;
	font-weight: bold;
    text-align: center;
    padding: 0.16vw 0vw;
    list-style-type: inherit;
}

/* Ping */

.Ping_header {
	position: fixed;
	color: white;
	width: 3.9vw;
	left: 73%;
    transform: translate(-50%);
	top: 14.3vw;
	font-size: 1.45vw;
	font-family: robot;
	font-weight: bold;
    text-align: center;
    padding: 0.16vw 0vw;
    list-style-type: inherit;
}

/* Namen Liste */

#scoreboardplayer {
    position: absolute;
    color: white;
    left: 10%;
    transform: translate(-50%);
    font-size: 1vw;
    width: 10vw;
    text-align: center;
    line-height: 1.99vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: inherit;
	font-family: robot;
}

/* Spielzeit Liste */

#scoreboardspielzeit {
    position: absolute;
    color: white;
    left: 28%;
    transform: translate(-50%);
    font-size: 1vw;
    width: 8vw;
    text-align: center;
    line-height: 1.99vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: inherit;
	font-family: robot;
    
}

/* Status Liste */

#scoreboardstatus {
    position: absolute;
    color: white;
    left: 47%;
    transform: translate(-50%);
    font-size: 1vw;
    width: 11vw;
    text-align: center;
    line-height: 1.99vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: inherit;
	font-family: robot;
}

/* VIP Liste */

#scoreboardVIP {
    position: absolute;
    color: white;
    left: 65%;
    transform: translate(-50%);
    font-size: 1vw;
    width: 7vw;
    text-align: center;
    line-height: 1.99vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: inherit;
	font-family: robot;
}

/* Fraktion Liste */

#scoreboardfaction {
    position: absolute;
    color: white;
    left: 82%;
    transform: translate(-50%);
    font-size: 1vw;
    width: 10vw;
    text-align: center;
    line-height: 1.99vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: inherit;
	font-family: robot;
}

/* Ping Liste */

#scoreboardping {
    position: absolute;
    color: white;
    left: 96.4%;
    transform: translate(-50%);
    font-size: 1vw;
	width: 4.2vw;
    text-align: center;
    line-height: 1.99vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: inherit;
	font-family: robot;
}

/*-------------------------------------------*/

.scoreboard {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 16.4vw;
    left: 50%;
    transform: translate(-50%);
    width: 50vw;
    height: 20.05vw;
    
}

.d-none {
    display: none !important
}

::-webkit-scrollbar {
    display: none;
}