* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

body {
    background-color: transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

*::-webkit-scrollbar {
    visibility: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.chat-box {
    margin: 5px 0 0 5px;
    width: 50vw;
}
.chat-box :not(.no-select) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.chat-box .chat-messages-list {
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
}

.chat-box .chat-messages-list .chat-message {
    color: white;
    padding-left: 2px;
    line-height: 22px;
}

.chat-box .chat-input-bar {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 70%;
    outline: none;
    border: none;
    height: 40px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
	-ms-user-select: auto; 
    -moz-user-select: auto; 
    -webkit-user-select: auto; 
}

.chat-input-bar-length {
    color: white;
    margin-left: 5px;
}

.chat-new-messages-warning {
    background: linear-gradient(90deg,rgba(255, 255, 0, 0.3) 0%, rgba(255,255,255,0) 100%);
    color: rgb(255, 255, 0);
    padding-left: 2px;
}

.hide {
    visibility: hidden;
}

.animated-hide {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.15s linear, opacity 0.15s linear;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.stroke {
    text-shadow:  1px  1px 1px black,
    1px -1px 1px black,
   -1px  1px 1px black,
   -1px -1px 1px black;
}