/*//----------------------------------//
///// VenoX Gaming & Fun 2020 © ///////
//////By LargePeach & VnX RL Crew////
////////www.venox-reallife.com////////
//----------------------------------//*/

body {
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none;
    color: white;
}

/* Window */

#back {
    width: 40%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5vw;
}

/* Überschrift */

#header {
    height: 10%;
    font-size: 1.5vw;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Inline Bereich */

.area {
    position: absolute;
    top: 10%;
    height: 90%;
    width: 100%;
}

/* Case Bilder */

#image_1, #image_2, #image_3, #image_4, #image_5 {
    position: absolute;
    width: 25%;
    height: 30%;
    transform: translate(-50%);
}
#image_1 { left: 20%; top: 2%; }
#image_2 { left: 80%; top: 2%; }
#image_3 { left: 50%; top: 27%; }
#image_4 { left: 20%; top: 52%; }
#image_5 { left: 80%; top: 52%; }

/* Case Buttons */

#case_1, #case_2, #case_3, #case_4, #case_5 {
    position: absolute;
    height: 11%;
    width: 23%;
    border-width: 0.1vw;
    border-radius: 0.5vw;
    font-size: 1vw;
    cursor: pointer;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
#case_1 { left: 20%; top: 38%; }
#case_2 { left: 80%; top: 38%; }
#case_3 { left: 50%; top: 63%; }
#case_4 { left: 20%; top: 88%; }
#case_5 { left: 80%; top: 88%; }

/* Close Button */

#close {
    font-family: arial;
    color: rgba(255,255,255,0.6);
    right: 2%;
    top: 2%;
}
#close:hover {
    font-weight: bold;
    color: rgba(255,0,0,0.6);
}