# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.VenoX.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Solid_Snake\Documents\[VenoX]\VenoX\.idea\.idea.VenoX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
