* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-user-select: none;
}

body, html {
	height: 100%;
	width: 100%;
	font-family: Montserrat-Regular, sans-serif;
}

input {
	outline: none;
	border: none;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

.container-box {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.box {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

svg {
	width: 31.9319vw;
    height: 47.924vh;
}


#km {
    fill: none;
    stroke: rgb(250, 250, 250);
    stroke-width: 14;
    stroke-dasharray: 3, 69.4982;
    stroke-dashoffset: -218;
}

#backgroundKM {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 14;
    stroke-dasharray: 3, 69.4982;
    stroke-dashoffset: -218;
}

#sm {
    fill: none;
    stroke: rgb(170, 170, 170);
    stroke-width: 6;
    stroke-dasharray: 1.5, 12.9996;
    stroke-dashoffset: -218.5;
}

#speedProgress {
	fill: none;
	stroke: #0091ff;
	stroke-width: 11;
	stroke-dasharray: 942.4;
    stroke-dashoffset: 500;
    opacity: 1;
}

#speedProgressShadow {
	fill: none;
	stroke: #0091ff;
	stroke-width: 11;
	stroke-dasharray: 879.6;
    stroke-dashoffset: 500;
    opacity: 0.5;
}

#redZone1 {
	fill: none;
    stroke: #ed5446;
    stroke-width: 10;
    stroke-dasharray: 66 6.5 66 660.3;
    stroke-dashoffset: 213.5;
}

#redZone2 {
    fill: none;
    stroke: #ed5446;
    stroke-width: 10;
    stroke-dasharray: 30, 803;
    stroke-dashoffset: 283.5;
}

#arrow {
	fill: none;
    stroke: #ff0000;
    stroke-width: 96px;
    stroke-dasharray: 5, 900;
    stroke-dashoffset: 829;
	opacity: 1;
}

.svgText {
	font-family: Montserrat-MediumItalic;;
	fill: rgb(255, 254, 254);
}

.number {
    font-family: RussoOne-Regular;
    fill: rgb(255, 254, 254);
    font-size: 18px;
}

.rpm {
	font-family: Montserrat-ExtraBoldItalic;
	fill: rgb(255, 254, 254);
	font-size: 14px;
	letter-spacing: 1px;
}

.x1000 {
	font-family: Montserrat-SemiBold;
	fill: rgba(230, 230, 230, 0.856);
	font-size: 12px;
}

.kmh {
	font-family: Montserrat-MediumItalic;
	fill: rgb(255, 254, 254);
	font-size: 14px;
}

.speed {
	font-size: 57px; 
	text-anchor: middle;
}

.probeg {
	font-size: 16px; 
	text-anchor: middle;
}

#fuel {
	fill: none;
    stroke: gray;
    stroke-width: 11;
    stroke-dasharray: 944;
    stroke-dashoffset: 675;
}

#fuelProgress {
	fill: none;
    stroke:whitesmoke;
    stroke-width: 12;
    stroke-dasharray: 943;
    stroke-dashoffset: 675;
}

.fuelSpan {
	font-family: Montserrat-MediumItalic;
	font-size: 18px; 
	text-anchor: middle; 
	text-shadow: 0vh 0vh 0.85vh #000000;
}

.shadow {
	text-shadow: 0vh 0vh 0.55vh #000000;
}