/*//----------------------------------//
///// VenoX Gaming & Fun 2020 © ///////
//////By LargePeach & VnX RL Crew////
////////www.venox-reallife.com////////
//----------------------------------//*/

@font-face { font-family: 'drugs';
             src: url('./fonts/Caviar-Dreams.ttf') format('truetype'); }
@font-face { font-family: 'robot';
             src: url('./fonts/Roboto-Thin.ttf') format('truetype'); }

.all {
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    height: 100%;
    width: 100%;
}

* {
	user-select: none;
    list-style: none;
}

/* Hintergrund */

#back {
    position: absolute;
    background: rgba(0,0,0,0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 50%;
    color: white;
}

/* Überschrift */

.header {
    position: absolute;
    background: rgba(0,0,0,1);
    width: 100%;
    left: 50%;
    font-size: 1.4vw;
    text-align: center;
    border-radius: 0.1vw;
	font-family: drugs;
    transform: translate(-50%);
    height: 7.143%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hintergrundbild */

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.3vw;
    z-index: -2;
    opacity: 0.6;
}

/* Trennlienen */

.parting_line_1, .parting_line_2, .parting_line_3, .parting_line_4 {
    position: absolute;
    background: rgba(255,255,255,0.9);
    width: 0.1vw;
    height: 100%;
    top: 0%;
    z-index: -1;
    transform: translate(-50%);
}

.parting_line_1 {
    left: 30%;
}
.parting_line_2 {
    left: 50%;
}
.parting_line_3 {
    left: 70%;
}
.parting_line_4 {
    left: 90%;
}

/* Name Überschrift */

.name_h {
    position: absolute;
    background: rgba(0,0,0,0.6);
	font-family: drugs;
    font-weight: bold;
    height: 7.143%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 7.143%;
    font-size: 1vw;
    left: 0%;
    width: 30%;
    z-index: -2;
    letter-spacing: 0.05vw;
}

/* Zeit Überschrift */

.time_h {
    position: absolute;
    background: rgba(0,0,0,0.6);
	font-family: drugs;
    font-weight: bold;
    height: 7.143%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 7.143%;
    font-size: 1vw;
    left: 30%;
    width: 20%;
    z-index: -2;
    letter-spacing: 0.05vw;
}

/* Siege Überschrift */

.wins_h {
    position: absolute;
    background: rgba(0,0,0,0.6);
	font-family: drugs;
    font-weight: bold;
    height: 7.143%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 7.143%;
    font-size: 1vw;
    left: 50%;
    width: 20%;
    z-index: -2;
    letter-spacing: 0.05vw;
}

/* VIP Überschrift */

.vip_h {
    position: absolute;
    background: rgba(0,0,0,0.6);
	font-family: drugs;
    font-weight: bold;
    height: 7.143%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 7.143%;
    font-size: 1vw;
    left: 70%;
    width: 20%;
    z-index: -2;
    letter-spacing: 0.05vw;
}

/* Ping Überschrift */

.ping_h {
    position: absolute;
    background: rgba(0,0,0,0.6);
	font-family: drugs;
    font-weight: bold;
    height: 7.143%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 7.143%;
    font-size: 1vw;
    left: 90%;
    width: 10%;
    z-index: -2;
    letter-spacing: 0.05vw;
}

/* User Tabellen */
/* Spieler */

#scoreboardplayer {
    position: absolute;
    color: white;
    left: 0%;
    font-size: 1vw;
    width: 30%;
    text-align: center;
    line-height: 2.1vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
	font-family: robot;
    z-index: 1;
}

/* Spielzeit */

#scoreboardspielzeit {
    position: absolute;
    color: white;
    left: 30%;
    font-size: 1vw;
    width: 20%;
    text-align: center;
    line-height: 2.1vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: inherit;
	font-family: robot;
    z-index: 1;
}

/* Gewonnen */

#scoreboardwins {
    position: absolute;
    color: white;
    left: 50%;
    font-size: 1vw;
    width: 20%;
    text-align: center;
    line-height: 2.1vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: inherit;
	font-family: robot;
    z-index: 1;
}

/* VIP */

#scoreboardVIP {
    position: absolute;
    color: white;
    left: 70%;
    font-size: 1vw;
    width: 20%;
    text-align: center;
    line-height: 2.1vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: inherit;
	font-family: robot;
    z-index: 1;
}

/* Ping */

#scoreboardping {
    position: absolute;
    color: white;
    left: 90%;
    font-size: 1vw;
    width: 10%;
    text-align: center;
    line-height: 2.1vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: inherit;
	font-family: robot;
    z-index: 1;
}

/* Tabelle */

.scoreboard {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 14.4%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 85.7%;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 0.25vw;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 150, 200, 0.6);
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 200, 255, 0.6);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 200, 255, 1);
}